# Python Bytecode Files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Sensitive Data (e.g., credentials)
*.env
*.secret
